header{
  font-family: sans-serif;
  text-align: center;
}
.container-fluid{
background-color: #f7bf8f;
height: 200px;
  text-align: center;
  font-size: 400%;
    padding-left:15px;
  padding-right:15px;
margin: 0px;
}
.side{
background-color:#336633;;
padding-left: 5%;
padding-bottom: 25%;
  padding-top: 5%;
  margin-top: 2%;
  margin-left:0%;
}


.bodyBg{
  background-color: #F0F0F0;
